%dashboard-total
    @extend %script-normal
    .value
        border-top: 1px $gris-black solid
        color: $gris-tree
        grid-column: 1 / 2
        text-align: right

        &.negative
            color: $gris-red

    .text
        color: $gris-black
        grid-column: 2 / 3

%dashboard-entries
    @extend %scribble-normal
    overflow-x: hidden
    overflow-y: scroll

@media screen and (max-width: 1023px)
    %dashboard-title
        font-size: 48px
        line-height: 52px

@media screen and (max-width: 767px)
    %dashboard-title
        font-size: 40px
        line-height: 48px
