.expenses
    display: grid
    grid-row-gap: 8px
    grid-template-columns: 200px 40px 180px
    grid-template-rows: 54px 1fr 28px

    h1
        grid-column: 1 / 2
        grid-row: 1 / 2

    .add-expense
        cursor: pointer
        grid-column: 2 / 3
        grid-row: 1 / 2
        overflow: hidden
        padding: 6px 0px

        img
            width: 40px

    .term-selector
        grid-column: 3 / 4
        grid-row: 1 / 2
        padding: 10px 0px 0px 0px

        .radio-button-container
            float: right

    .expenses-list
        @extend %dashboard-entries
        grid-column: 1 / 4
        grid-row: 2 / 3

    .total
        @extend %script-normal
        display: grid
        grid-column: 1 / 4
        grid-row: 3 / 4
        grid-template-columns: 148px 266px

        .amount
            border-top: 1px $gris-black solid
            color: $gris-red
            grid-column: 1 / 2
            text-align: right

        .text
            grid-column: 2 / 3

    .modal-body
        @extend %scribble-normal
        display: grid
        grid-column-gap: 8px
        grid-row-gap: 8px
        grid-template-columns: 1fr 2fr 2fr 1fr
        grid-template-rows: 24px 54px 28px 60px 24px

        h1
            grid-column: 1 / 5
            grid-row: 2 / 3
            overflow: hidden
            text-align: center
            text-overflow: ellipsis
            white-space: nowrap

        .amount
            grid-column: 2 / 3
            grid-row: 3 / 4
            text-align: right

        .frequency
            grid-column: 3 / 4
            grid-row: 3 / 4
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap

        button
            grid-column: 1 / 5
            grid-row: 4 / 5
            margin: 0px 0px 0px 422px

@media screen and (max-width: 1439px)
    .expenses
        .modal-body
            width: 880px

            button
                margin: 0px 0px 0px 350px

@media screen and (max-width: 1023px)
    .expenses
        grid-template-columns: 282px 40px 420px

        .add-expense
            grid-column: 2 / 3
            grid-row: 1 / 2
            padding: 0px

        .term-selector
            grid-column: 3 / 4
            grid-row: 1 / 2
            margin: 0px auto

        .expenses-list
            grid-column: 1 / 4

        .total
            grid-template-columns: 150px 158px 420px

            .amount
                grid-column: 2 / 3

            .text
                grid-column: 3 / 4

        .modal-body
            width: 680px

            button
                margin: 0px 0px 0px 250px

@media screen and (max-width: 767px)
    .expenses
        grid-template-columns: 319px 40px
        grid-template-rows: 54px 60px 1fr 28px

        .term-selector
            grid-column: 1 / 3
            grid-row: 2 / 3

            .radio-button-container
                float: none

        .expenses-list
            grid-row: 3 / 4

        .total
            grid-row: 4 / 5
            grid-template-columns: 30px 79px 234px

        .modal-body
            width: 320px
            grid-template-columns: 320px
            grid-template-rows: 24px 36px 28px 28px 60px 24px

            h1
                font-size: 32px
                grid-column: 1 / 2
                line-height: 36px
                overflow: hidden
                text-overflow: ellipsis
                white-space: nowrap

            .frequency
                grid-column: 1 / 2
                grid-row: 3 / 4
                text-align: center

            .amount
                grid-column: 1 / 2
                grid-row: 4 / 5
                text-align: center

            button
                grid-column: 1 / 2
                grid-row: 5 / 6
                margin: 0px 0px 0px 70px
