.income
    display: grid
    grid-row-gap: 8px
    grid-template-columns: 420px 40px 276px
    grid-template-rows: 60px 1fr 28px

    .title
        @extend %dashboard-title
        grid-column: 1 / 2
        grid-row: 1 / 2

    .add-income-generator
        grid-column: 2 / 3
        grid-row: 1 / 2
        overflow: hidden
        padding: 6px 0px

        img
            cursor: pointer
            height: 40px
            width: 40px

    .term-selector
        grid-column: 3 / 4
        grid-row: 1 / 2

        .radio-button-container
            float: right

    .income-total
        @extend %script-normal
        color: $gris-tree
        display: grid
        grid-column: 1 / 4
        grid-column-gap: 8px
        grid-row: 3 / 4
        grid-template-columns: 280px 112px 100px 112px 100px

        .gross-value
            border-top: 1px $gris-black solid
            grid-column: 2 / 3
            text-align: right

        .gross-text
            color: $gris-black
            grid-column: 3 / 4

        .net-value
            border-top: 1px $gris-black solid
            grid-column: 4 / 5
            text-align: right

        .net-text
            color: $gris-black
            grid-column: 5 / 6

    .sources-of-income
        @extend %dashboard-entries
        grid-column: 1 / 4
        grid-row: 2 / 3

        .income-generator
            cursor: pointer
            display: grid
            grid-column-gap: 8px
            grid-template-columns: 280px 112px 100px 112px 100px

            .description
                grid-column: 1 / 2
                overflow: hidden
                text-overflow: ellipsis
                white-space: nowrap

            .gross
                grid-column: 2 / 3
                text-align: right

            .net
                grid-column: 4 / 5
                text-align: right

    .modal-body
        display: grid
        grid-row-gap: 8px
        grid-template-rows: 24px 54px 28px 58px 1fr 60px 24px

        h1
            grid-row: 2 / 3
            overflow: hidden
            text-align: center
            text-overflow: ellipsis
            white-space: nowrap

        h2
            grid-row: 4 / 5
            overflow: hidden
            text-align: center
            text-overflow: ellipsis
            white-space: nowrap

        .frequency
            @extend %script-normal
            grid-row: 3 / 4
            text-align: center

        .deductions
            grid-row: 5 / 6
            overflow-x: hidden
            overflow-y: scroll
            width: 1024px

            .expense
                @extend %scribble-normal
                cursor: default
                display: grid
                grid-template-columns: 240px 168px 600px

                .amount
                    color: $gris-black

                .times
                    display: none

        button
            grid-row: 6 / 7
            margin: 0px 0px 0px 422px

@media screen and (max-width: 1439px)
    .income
        grid-template-columns: 500px 40px
        grid-template-rows: 54px 60px 1fr 28px

        .add-income-generator
            grid-column: 2 / 3

        .term-selector
            grid-column: 1 / 3
            grid-row: 2 / 3
            margin: 0px auto

        .sources-of-income
            grid-column: 1 / 3
            grid-row: 3 / 4

            .income-generator
                grid-template-columns: 180px 94px 70px 94px 70px

        .income-total
            grid-column: 1 / 3
            grid-row: 4 / 5
            grid-template-columns: 180px 94px 70px 94px 70px

        .modal-body
            width: 880px

            .deductions
                width: 880px

                .expense
                    grid-template-columns: 180px 200px 500px

            button
                margin: 0px 0px 0px 350px

@media screen and (max-width: 1023px)
    .income
        grid-template-columns: 282px 40px 420px
        grid-template-rows: 54px 1fr 28px

        .term-selector
            grid-column: 3 / 4
            grid-row: 1 / 2

        .sources-of-income
            grid-column: 1 / 4
            grid-row: 2 / 3

            .income-generator
                grid-template-columns: 360px 76px 100px 76px 100px

        .income-total
            grid-row: 3 / 4
            grid-template-columns: 360px 76px 100px 76px 100px

        .modal-body
            width: 680px

            .deductions
                width: 680px

                .expense
                    grid-template-columns: 100px 140px 440px

            button
                margin: 0px 0px 0px 250px

@media screen and (max-width: 767px)
    .income
        grid-template-columns: 319px 40px
        grid-template-rows: 54px 60px 1fr 28px

        .title
            grid-column: 1 / 2
            grid-row: 1 / 2

        .term-selector
            grid-column: 1 / 3
            grid-row: 2 / 3

        .sources-of-income
            grid-column: 1 / 3
            grid-row: 3 / 4

            .income-generator
                grid-template-columns: 124px 75px 26.5px 75px 26.5px

        .income-total
            grid-column: 1 / 3
            grid-row: 4 / 5
            grid-template-columns: 124px 75px 26.5px 75px 26.5px

        .modal-body
            width: 320px

            h1, h2
                font-size: 32px
                line-height: 36p

            .deductions
                width: 320px

                .expense
                    grid-template-columns: 0px 140px 164px

            button
                margin: 0px 0px 0px 70px
