.ledger-history
    display: grid
    grid-row-gap: 8px
    grid-template-columns: 380px 40px
    grid-template-rows: 58px 28px 60px 1fr 28px

    .title
        @extend %dashboard-title
        grid-column: 1 / 2
        grid-row: 1 / 2

    .add-transaction
        grid-column: 2 / 3
        grid-row: 1 / 2
        overflow: hidden
        padding: 6px 0px

        img
            cursor: pointer
            height: 40px
            width: 40px

    .budget
        @extend %script-normal
        grid-column: 1 / 3
        grid-row: 2 / 3
        text-align: center

    .month-selector
        grid-column: 1 / 3
        grid-row: 3 / 4

    .entries
        @extend %dashboard-entries
        grid-column: 1 / 3
        grid-row: 4 / 5

        .date
            @extend %scribble-small
            grid-column: 1 / 3
            height: 28px
            padding: 10px 0px 0px 0px

        .ledger-entry
            cursor: pointer
            display: grid
            grid-column-gap: 8px
            grid-template-columns: 146px 266px
            grid-template-rows: 24px
            height: 24px
            margin: 0px 0px 4px 0px

            .amount
                grid-column: 1 / 2
                grid-row: 1 / 2
                text-align: right

                &.negative
                    color: $gris-red

            .category
                grid-column: 2 / 3
                grid-row: 1 / 2
                overflow: hidden
                text-overflow: ellipsis
                white-space: nowrap

    .total
        @extend %dashboard-total
        display: grid
        grid-column: 1 / 3
        grid-row: 5 / 6
        grid-column-gap: 8px
        grid-template-columns: 146px 266px

    .modal-body
        @extend %scribble-normal
        display: grid
        grid-column-gap: 8px
        grid-row-gap: 8px
        grid-template-columns: 1fr 2fr 2fr 1fr
        grid-template-rows: 24px 54px 28px 60px 24px

        h1
            grid-column: 1 / 5
            grid-row: 2 / 3
            overflow: hidden
            text-align: center
            text-overflow: ellipsis
            white-space: nowrap

        .amount
            grid-column: 2 / 3
            grid-row: 3 / 4
            text-align: right

        .date
            grid-column: 3 / 4
            grid-row: 3 / 4
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap

        button
            grid-column: 1 / 5
            grid-row: 4 / 5
            margin: 0px 0px 0px 422px

@media screen and (max-width: 1439px)
    .ledger-history
        .modal-body
            width: 880px

            button
                margin: 0px 0px 0px 350px

@media screen and (max-width: 1023px)
    .ledger-history
        grid-template-columns: 282px 40px 420px
        grid-template-rows: 60px 28px 1fr 28px

        .title
            padding: 8px 0px 0px 0px

        .add-transaction
            grid-column: 2 / 3
            padding: 10px 8px 0px 0px

        .month-selector
            grid-column: 3 / 4
            grid-row: 1 / 2

        .budget
            grid-column: 1 / 4

        .entries
            grid-column: 1 / 4
            grid-row: 3 / 4
            overflow-x: hidden

            .ledger-entry
                grid-template-columns: 316px 420px

            .date
                text-align: center

        .total
            grid-column: 1 / 4
            grid-row: 4 / 5
            grid-template-columns: 200px 108px 420px

            .value
                grid-column: 2 / 3

            .text
                grid-column: 3 / 4

        .modal-body
            width: 680px

            button
                margin: 0px 0px 0px 250px

@media screen and (max-width: 767px)
    .ledger-history
        grid-template-columns: 319px 40px
        grid-template-rows: 48px 28px 60px 1fr 28px

        .title
            grid-column: 1 / 2
            grid-row: 1 / 2

        .add-transaction
            grid-column: 2 / 3
            grid-row: 1 / 2
            overflow: hidden
            padding: 4px 0px 0px 0px

            img
                cursor: pointer
                height: 40px
                width: 40px

        .budget
            grid-column: 1 / 3
            grid-row: 2 / 3
            text-align: center

        .month-selector
            grid-column: 1 / 3
            grid-row: 3 / 4

        .entries
            grid-column: 1 / 3
            grid-row: 4 / 5
            overflow-y: scroll

            .date
                grid-column: 1 / 3
                padding: 10px 0px 0px 0px
                text-align: left

            .ledger-entry
                display: grid
                grid-column-gap: 8px
                grid-template-columns: 117px 234px
                margin: 4px 0px 4px 0px

                .amount
                    grid-column: 1 / 2
                    grid-row: 1 / 2
                    text-align: right

                    &.negative
                        color: $gris-red

                .category
                    grid-column: 2 / 3
                    grid-row: 1 / 2
                    overflow: hidden
                    text-overflow: ellipsis
                    white-space: nowrap

        .total
            display: grid
            grid-column: 1 / 3
            grid-column-gap: 8px
            grid-row: 5 / 6
            grid-template-columns: 1fr 2fr

            .value
                border-top: 1px $gris-black solid
                grid-column: 1 / 2
                text-align: right

                &.negative
                    color: $gris-red

            .text
                color: $gris-black
                grid-column: 2 / 3

        .modal-body
            width: 320px
            grid-template-columns: 320px
            grid-template-rows: 24px 36px 28px 28px 60px 24px

            h1
                font-size: 32px
                grid-column: 1 / 2
                line-height: 36px
                overflow: hidden
                text-overflow: ellipsis
                white-space: nowrap

            .date
                grid-column: 1 / 2
                grid-row: 3 / 4
                text-align: center

            .amount
                grid-column: 1 / 2
                grid-row: 4 / 5
                text-align: center

            button
                grid-column: 1 / 2
                grid-row: 5 / 6
                margin: 0px 0px 0px 70px
