.app
    background-color: $gris-temple-light
    display: grid
    grid-template-columns: 1fr 1164px 1fr
    grid-template-rows: 80px 1fr 69px
    min-height: 100vh
    overflow: hidden

    .navbar
        grid-column: 1 / 4
        grid-row: 1 / 2

    .footer
        grid-column: 1 / 4
        grid-row: 3 / 4

    .dashboard
        grid-column: 2 / 3
        grid-row: 2 / 3

    .landing
        grid-column: 2 / 3
        grid-row: 2 / 3

@media screen and (max-width: 1439px)
    .app
        grid-template-columns: 1fr 964px 1fr

@media screen and (max-width: 1023px)
    .app
        grid-template-columns: 1fr 744px 1fr

@media screen and (max-width: 767px)
    .app
        grid-template-columns: 1fr 359px 1fr
