%input-base
    background-color: $gris-temple-light
    border-bottom: 1px $gris-tree solid
    height: 59px
    padding: 17px 0px 18px 24px
    width: 418px

    input
        border: none
        color: $gris-black
        background-color: $gris-temple-light
        font-family: 'Nothing-Regular'
        font-size: 16px
        line-height: 24px
        width: 100%

        &:focus
            outline: none

    &.error
        color: $gris-red-dark
        border-bottom: 1px $gris-red-dark solid

        input
            color: $gris-red-dark

    label
        position: absolute
        color: $gris-temple-dark
        cursor: text
        font-family: 'Cutive-Regular'
        font-size: 16px
        line-height: 24px
        transform: translate(0, 0px)
        transform-origin: top left
        transition: all .1s ease-in-out

        &.active
            color: $gris-tree-dark
            font-size: 10px
            line-height: 14px
            transform: translate(0, 22px)

@media screen and (max-width: 1439px)

@media screen and (max-width: 1023px)

@media screen and (max-width: 767px)
    %input-base
        width: 335px
