h1
    color: $gris-black
    font-family: 'Nothing-Regular'
    font-size: 48px
    font-weight: normal
    line-height: 54px
    margin: 0px

h2
    color: $gris-black
    font-family: 'Amatic-Bold'
    font-size: 52px
    font-weight: normal
    line-height: 58px
    margin: 0px

%script-normal
    font-size: 24px
    font-family: 'Amatic-Bold'
    line-height: 28px

%scribble-normal
    font-family: 'Nothing-Regular'
    font-size: 22px
    line-height: 24px

%scribble-small
    font-family: 'Nothing-Regular'
    font-size: 14px
    line-height: 18px

%scribble-tiny
    font-family: 'Nothing-Regular'
    font-size: 12
    line-height: 14px
