textarea
    background-color: $gris-white
    border: 1px $gris-tree solid
    border-radius: 2px
    color: $gris-black
    font-size: 16px
    height: 210px
    line-height: 24px
    margin: 8px 0px 8px 0px
    padding: 12px 20px 12px 20px
    position: relative
    resize: none
    width: 420px

    textarea:focus
        outline: none

    ::placeholder
        color: $gris-tree
