.add-income-generator
    display: grid
    grid-column: 2 / 3
    grid-column-gap: 8px
    grid-row: 2 / 3
    grid-row-gap: 8px
    grid-template-columns: 420px 1fr 596px
    grid-template-rows: 40px 54px 1fr

    .title
        grid-row: 2 / 4
        grid-column: 1 / 3

    .details
        display: grid
        grid-column: 1 / 2
        grid-row: 3 / 4
        grid-row-gap: 8px
        grid-template-rows: 58px 60px 60px 60px 60px 48px

        .details-title
            grid-row: 1 / 2

        .add-income
            cursor: pointer
            grid-row: 6 / 7
            padding: 0px 172px

    .deductions
        display: grid
        grid-column: 2 / 4
        grid-row: 3 / 4
        grid-template-columns: 176px 420px
        grid-template-rows: 58px 1fr 1fr

        .deductions-title
            grid-column: 1 /2
            grid-row: 1 / 2

        .add-deduction-control
            cursor: pointer
            grid-column: 2 / 3
            grid-row: 1 / 2
            padding: 5px 0px

        .deduction-list
            grid-column: 1 / 2
            grid-row: 2 / 3
            overflow-y: scroll

            .deduction-summary
                @extend %scribble-normal
                display: grid
                grid-template-columns: 154px 22px
                margin: 0px 0px 8px 0px

                .text
                    grid-column: 1 / 2
                    overflow-x: hidden
                    overflow-y: hidden
                    text-overflow: ellipsis
                    white-space: nowrap

                .remove
                    cursor: pointer
                    grid-column: 2 / 3

                    img
                        height: 22px
                        padding: 1px 0px 1px 0px
                        width: 22px

        .deduction-details
            display: grid
            grid-column: 2 / 3
            grid-row: 2 / 3
            grid-row-gap: 8px
            grid-template-rows: 60px 60px 60px 48px

            .add
                padding: 0px 186px

                img
                    cursor: pointer
