.add-transaction
    display: grid
    grid-column: 2 / 3
    grid-row: 2 / 3
    grid-row-gap: 8px
    grid-template-rows: 54px 60px 60px 60px 60px 60px 48px
    overflow-x: hidden
    overflow-y: scroll

    .add
        padding: 0px 190px

        img
            cursor: pointer

@media screen and (max-width: 767px)
    .add-transaction
        grid-template-rows: 108px 60px 60px 60px 60px 60px 48px

        .add
            padding: 0px 155.5px
