.add-expense
    display: grid
    grid-column: 2 / 3
    grid-row: 2 / 3
    grid-row-gap: 8px
    grid-template-rows: 54px 60px 60px 60px 60px 60px 60px 48px
    overflow-y: scroll

    .add
        padding: 0px 190px

@media screen and (max-width: 767px)
    .add-expense
        grid-template-rows: 108px 60px 60px 60px 60px 60px 60px 48px
        overflow-x: hidden

        .add
            padding: 0px 155.5px

            button
                background-color: $gris-temple-light
                height: 48px
                padding: 0px
                width: 48px
