.dashboard
    display: grid
    font-size: 18px
    grid-column-gap: 8px
    grid-row-gap: 8px
    grid-template-columns: 736px 420px
    grid-template-rows: 40px 54px 24px 786px 420px 24px
    line-height: 24px

    .welcome
        border-bottom: 1px $gris-black solid
        font-size: 48px
        grid-column: 1 / 2
        grid-row: 2 / 3
        line-height: 54px

        label
            position: absolute
            cursor: text
            font-family: 'Cutive-Regular'
            font-size: 24px
            line-height: 28px
            transform: translate(0, 54px)
            transform-origin: top left
            transition: all .1s ease-in-out

        .name
            font-family: 'Nothing-Regular'

    .inbox
        grid-column: 2 / 3
        grid-row: 2 / 3

        img
            cursor: pointer
            float: right

.ledger-history-graph
    grid-column: 1 / 2
    grid-row: 4 / 5
    height: 100%

.ledger-history
    grid-column: 2 / 3
    grid-row: 4 / 5

    button
        float: left

    .after
        clear: both

.expenses
    grid-column: 2 / 3
    grid-row: 5 / 6

.income
    grid-column: 1 / 2
    grid-row: 5 / 6

@media screen and (max-width: 1439px)
    .dashboard
        grid-column-gap: 4px
        grid-template-columns: 540px 420px
        grid-template-rows: 40px 54px 24px 584px 420px 24px

@media screen and (max-width:1023px)
    .dashboard
        grid-template-columns: 1fr
        grid-template-rows: 22px 38px 24px 788px 620px 400px 400px 12px

        .welcome
            grid-column: 1 / 2
            font-size: 32px
            line-height: 38px

            label
                font-size: 18px
                line-height: 22px
                transform: translate(0px, 36px)

        .inbox
            grid-column: 2 / 3
            grid-row: 2 / 3
            padding: 14px 0px 0px 205px

            img
                width: 40px

        .ledger-history-graph
            grid-column: 1 / 3

        .ledger-history
            grid-column: 1 / 3
            grid-row: 5 / 6

        .expenses
            grid-column: 1 / 3
            grid-row: 6 / 7

        .income
            grid-column: 1 / 3
            grid-row: 7 / 8

@media screen and (max-width: 767px)
    .dashboard
        grid-row-gap: 16px
        grid-template-columns: 359px
        grid-template-rows: 0px 40px 40px 420px 420px 400px 320px 8px

        .welcome
            font-size: 36px
            line-height: 40px

            label
                font-size: 14px
                line-height: 88px
                transform: translate(0px, 8px)

        .inbox
            grid-column: 1 / 2
            grid-row: 3 / 4
            padding: 0px 157.5px

        .ledger-history-graph
            grid-column: 1 / 2
            grid-row: 4 / 5

        .ledger-history
            grid-column: 1 / 2
            grid-row: 5 / 6

        .expenses
            grid-column: 1 / 2
            grid-row: 6 / 7

        .income
            grid-column: 1 / 2
            grid-row: 7 / 8
