.landing

    p
        font-family: 'Nothing-Regular'
        font-size: 28px
        line-height: 32px
        margin: 8px
        text-align: justify

    button
        display: block
        margin: 0px auto 0px auto

@media screen and (max-width: 767px)
    .landing

        button
            width: 120px
