.login
    display: grid
    grid-column: 2 / 3
    grid-row: 2 / 3
    grid-row-gap: 8px
    grid-template-rows: 24px 54px 192px
    overflow-y: scroll

    h1
        grid-row: 2 / 3

    .user-info
        grid-row: 3 / 4
