.date-field
    @extend %input-base

    cursor: pointer

    .input-label
        cursor: pointer

    input
        cursor: pointer

.react-datepicker-wrapper
    margin: 0px 0px 0px 0px !important

.react-datepicker
    border: 2px $gris-tree !important
    margin: -8px 0px -8px 0px

.react-datepicker-popper[data-placement^="bottom"]
    margin-top: 8px !important

.react-datepicker-popper[data-placement^="top"]
    margin-bottom: 0px !important

.react-datepicker__triangle
    display: none

.react-datepicker__header
    background-color: $gris-tree !important

.react-datepicker__current-month
    color: $gris-white !important

.react-datepicker__day-name
    color: $gris-white !important

.react-datepicker__day
    &:focus
        outline: none

.react-datepicker__day--selected
    background-color: $gris-tree !important
    color: $gris-white !important

@media screen and (max-width: 767px)
    .react-datepicker-wrapper
        width: 335px
