.dropdown
    @extend %input-base
    cursor: pointer

    input
        cursor: pointer
        width: 354px

    label
        cursor: pointer

    .icon
        cursor: pointer
        float: right
        height: 16px
        margin: 4px 24px 0px 0px
        width: 16px

    &.focused
        border-radius: 4px

        img
            transform: rotate(180deg)

    &.autocomplete
        cursor: text

        input
            cursor: text

        label
            cursor: text

.dropdown-menu
    background-color: $gris-temple-light
    box-shadow: 4px 4px 12px 0px $gris-tree-dark
    cursor: pointer
    font-family: 'Nothing-Regular'
    margin: 14px 0px 0px -25px
    max-height: 180px
    overflow-y: scroll
    position: relative
    width: 420px
    z-index: 11

.dropdown-item
    color: $gris-tree-dark
    height: 34px
    padding: 8px 0px 8px 20px
    font-size: 14px
    line-height: 18px

    &:hover
        .text
            color: $gris-black
            border-bottom: 1px $gris-tree-dark solid

@media screen and (max-width: 767px)
    .dropdown

        input
            width: 271px

        .dropdown-menu
            width: 335px
