%link
    color: $gris-white
    cursor: pointer
    font-family: 'Cutive-Regular'
    font-size: 18px
    line-height: 22px

    a
        color: $gris-white
        text-decoration: none

.footer
    background-color: $gris-temple-dark
    display: grid
    grid-column-gap: 8px
    grid-template-columns: 1fr 2fr 2fr 1fr
    grid-template-rows: 13px 1fr 1fr
    height: 69px
    text-align: center

    .web
        @extend %link
        grid-column: 2 / 3
        grid-row: 2 / 3

    .server
        @extend %link
        grid-column: 3 / 4
        grid-row: 2 / 3

    .worker
        @extend %link
        grid-column: 2 / 3
        grid-row: 3 / 4

    .about
        @extend %link
        grid-column: 3 / 4
        grid-row: 3 / 4
        overflow: hidden
