.navbar
    background-color: $gris-tree-dark
    display: grid
    grid-template-columns: 420px 1fr 169px
    grid-template-rows: 26px 54px

    .title
        grid-column: 1 / 4
        grid-row: 2 / 3

        a
            color: $gris-temple
            cursor: pointer
            font-family: 'Cutive-Regular'
            text-decoration: none

    .links
        display: grid
        grid-column: 3 / 4
        grid-row: 1 / 3
        grid-template-columns: 169px
        grid-template-rows: 36px 22px 22px

        .nav-login
            @extend %link
            grid-row: 3 / 4

        .nav-admin
            @extend %link
            grid-row: 2 / 3

@media screen and (max-width: 767px)
    .navbar
        grid-template-columns: 1fr 1fr 1fr
        grid-template-rows: 40px 40px

        .title
            font-size: 36px
            line-height: 40px

        .links
            grid-column: 1 / 3
            grid-row: 1 / 2
            grid-template-columns: 1fr 1fr
            grid-template-rows: 40px

            .nav-login
                grid-column: 1 / 2
                grid-row: 1 / 2

            .nav-admin
                grid-column: 2 / 3
                grid-row: 1 / 2
