.text-field
    @extend %input-base

    > .text-pre
        position: absolute
        font-family: 'Cutive-Regular'
        font-size: 16px
        line-height: 24px

    &.has-pre-token input
        padding-left: 10px

// @media screen and (max-width: 767px)
//     .text-field
//         width: 359px
