.user-info
    display: grid
    grid-row-gap: 8px
    grid-template-rows: repeat(3, 60px)

    button
        display: block
        grid-row: 3 / 4
        margin: 0px auto 0px auto

    #text-field-username
        grid-row: 1 / 2

    #text-field-password
        grid-row: 2 / 3
